.container{
  width: 50%;
  margin: auto;
  padding: 20px;
  background-color: rgb(240, 219, 228);
  height: 1000px;
}

.fieldsView{
  margin: 5px 0px;
  font-weight: 600;
  font-size: 17px;
}

.ant-input {
  padding: 10px !important;
  border-radius: 10px !important;
  border: 1px solid rgb(219, 87, 219) !important;
}

.btnView{
  text-align: center;
  margin: 10px;
  
}

.ant-btn  {
  width: 180px;
  height: 50px !important;
  margin: 5px 10px !important;
  border-radius: 8px !important;
  font-size: 20px !important;
font-weight: 600 !important;
}

.ant-btn-primary {
  color: #fff;
  background: purple !important;
  border: none !important;
}

.ant-btn:hover {
  color: #fff;
  border: none !important;
}


